@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&display=swap');

.londrina-shadow-regular {
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-outline {
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-outline-regular {
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.londrina-solid-thin {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-black {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}


body {
  background-color: #fbfaf6;
}

p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-left .logo {
  color: rgb(0, 0, 0);
  font-size: 4rem;
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: .75em;
  /* border: 1px solid black; */
}

.logo-left .logo:hover {
  color: rgb(0, 0, 0);
  font-size: 4rem;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-around;
  /* border: 1px solid rgb(74, 255, 50); */
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.logo-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid rgb(27, 0, 159); */
}

/* .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(0, 143, 159);
} */

.nav {
  /* border: 1px solid rgb(188, 39, 39); */
  display: flex;
  justify-content: flex-end;
}

nav li {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.4s ease-in-out;
  margin: 0 10px;
  list-style: none;
  /* border: #333 solid 1px; */
  background-color: #fbfaf6;
  display: inline-block;
  border-radius: 8px;
  padding: 10px 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  font-size: medium;
  font-weight: 600;
  font-style: normal;
  font-family: 'Inter', sans-serif;
}

nav li:hover {
  color: #000000;
  background-color: #f1f0eb;
  /* border: 1px solid #000000; */
  border-radius: 8px;
}

nav a:hover {
  color: #000000;
  padding: 10px 15px;
  font-weight: 600;
}

/* section{
  position: relative;
  top: 15vh;
  left: 0;
  width: 100%;
} */

/* .hero{
  position: relative;
  top: 15vh;
  left: 0;
  width: 100%;
  height: 30vh;
  border: 1px solid rgb(176, 15, 15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.hero-name {
  font-size: 5rem;
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: .30em;
}

.content{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.featured-projects-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
  max-width: 75vw;
}

@media (max-width: 768px) {
  .featured-projects-container {
    grid-template-columns: 1fr;
  }
}


.hero {
  margin-top: 8vh;
  margin-bottom: 8vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

/* .hero-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 4vh;
  width: 50vw;
} */

.hero-container{
  width: 600px;
  height: auto;
  position: relative;
}

.hero-content{
  position: relative;
  /* border: 1px solid black; */
}

/* .hero-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
} */

.hero-name h1 {
  font-size: 4rem;
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1vh;
  position: relative;
  top: 50;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.hero-description p {
  font-size: 1.5rem;
}

.hero-logo{
  position: absolute;
  right: 200px;
  top: 0;
  transform: translateX(50%);
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.hero-buttons button {
  font-size: 1rem;
  background-color: #f1f0eb;
  border: .5px solid black;
  border-radius: 5px;
  /* padding: .7vh 2vh; */
  padding: 10px 26px;
}

.hero-buttons a{
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: #141414;
  font-weight: 550;
  font-style: normal;
}

.work-button:hover {
  background-color: #DFE8FF;
  /* border: 1px solid rgb(0, 143, 159);
  background-color: aqua; */
}

.work-button:focus {
  background-color: #DFE8FF;
  border: 1px solid rgb(0, 0, 0);
}

.work-button:active {
  background-color: #d6def6;
  border: .5px solid rgb(0, 0, 0);
}

button:disabled {
  background-color: #F4F3EE;
  border: .5px solid #6B6B6B;
  color: #6B6B6B;
}

.resume-button:hover {
  background-color: #F2E7DF;
}

.resume-button:focus {
  background-color: #F2E7DF;
}

.resume-button:active {
  background-color: #edddd2;
}