@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&display=swap');

.londrina-shadow-regular {
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-outline {
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-outline-regular {
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.londrina-solid-thin {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-black {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}


body {
  background-color: #fbfaf6;
}

.logo-left .logo {
  color: rgb(0, 0, 0);
  font-size: 4rem;
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: .75em;
  /* border: 1px solid black; */
}

.logo-left .logo:hover {
  color: rgb(0, 0, 0);
  font-size: 4rem;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-around;
  /* border: 1px solid rgb(74, 255, 50); */
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.logo-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid rgb(27, 0, 159); */
}

/* .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(0, 143, 159);
} */

.nav {
  /* border: 1px solid rgb(188, 39, 39); */
  display: flex;
  justify-content: flex-end;
}

nav li {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.4s ease-in-out;
  margin: 0 10px;
  list-style: none;
  /* border: #333 solid 1px; */
  background-color: #fbfaf6;
  display: inline-block;
  border-radius: 8px;
  padding: 10px 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  font-size: medium;
  font-weight: 400;
  font-style: normal;
  font-family: 'Inter', sans-serif;
}

nav li:hover {
  color: #000000;
  background-color: #f1f0eb;
  /* border: 1px solid #000000; */
  border-radius: 8px;
}

nav a:hover {
  color: #000000;
  padding: 10px 15px;
  font-weight: 500;
}

.hero-name {
  font-size: 5rem;
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: .30em;
  /* border: 1px solid black; */
}
